@charset "UTF-8";
@media only screen and (min-width: 600px) {
   .appDiv{
	top:0;
	left:0;
	position: absolute;
	width:100%;
}
.profileDiv{
	background-color:#158467;
	width:20%;
	left:0;
	position:fixed;
	height:100%;
	overfow:auto;
}
.mainDiv{
	background-color:#519872;
	width:60%;
	left:20%;
	position: absolute;
	
}
.weatherDiv{
	background-color:#158467;
	height:100vh;
	width:20%;
	right:0;
	position: fixed;
}
.cityParam{
	margin:2% 30%;
	align-content: center;
	width:40%;
	height: 33%;
	font-size: 1.6vw;
}
.saveButtonStyle
{
	width:20%;
	margin-left: 40%;
	font-size:1.5vw;
}
}

@media only screen and (max-width: 600px) {
.appDiv{
	width:100vw;
	max-width: 100vw;
}
.profileDiv{
	background-color:#158467;
	width:100vw;
	height:100vh;
	display: list-item;
}
.mainDiv{
	background-color:#519872;
	 width:100vw;
	 display: list-item;
}
.weatherDiv{
	background-color:#158467;
	 width:100vw;
	 display: list-item;

}
.saveButtonStyle
{
	width:60%;
	margin-top:10%;
	margin-left: 20%;
	font-size:5vw;
}
.cityParam{
	margin:2% 30%;
	align-content: center;
	width:40%;
	height: 33%;
	font-size: 3.5vw;
}
}