@charset "UTF-8";
@media only screen and (min-width: 600px) {
.imgProfile{
	width:70%;
	height: 40%;
	margin:3%  15%;
}
.infoDiv{
	width:80%;
	left:10%;
	height:35%;
	position: absolute;
}
.labelInfo{
	width:80%;
	height: 10%;
	margin: 1% 10%;
	font-size: 1.6vw;
	text-align: center;
}
.notificationDiv{
	width: 90%;
	left:10%;
	height:55%;
	position: absolute;
	top:45%;
	overflow: auto;
}
.notificationButton{
	width: 90%;
	height:10%;
	margin: 2% 10% 0 0;
	font-size:1.5vw;
}
.labelNotif{
	width: 80%;
	left:10%;
	position: absolute;
	top:35%;
	height:10%;
	
}
.notifLabel{
	font-size: 2vw;
}
}
@media only screen and (max-width: 600px) {
	.imgProfile{
	width:70%;
	height: 40%;
	margin:3%  15%;
}
.infoDiv{
	width:80%;
	left:10%;
	height:35%;
	position: absolute;
}
.labelInfo{
	width:80%;
	height: 10%;
	margin: 1% 10%;
	font-size: 3.5vw;
	text-align: center;
}
.notificationDiv{
	width: 90%;
	left:10%;
	height:55%;
	position: absolute;
	top:45%;
	overflow: auto;
}
.notificationButton{
	width: 90%;
	height:10%;
	margin: 2% 10% 0 0;
	font-size:4vw;
}
.labelNotif{
	width: 80%;
	left:10%;
	position: absolute;
	top:35%;
	height:10%;
	
}
.notifLabel{
	font-size: 5vw;
}
}