@charset "UTF-8";

@media only screen and (min-width:600px){
.rssPost{
	border:2px;
	border-color: #eddeb4;
	border-style: solid;
	margin:3% 10%;
	border-radius: 25px;
	width:80%
}
.labelPost{
	margin:1% 10%;
	width: 80%;
}
.labelA{
	word-wrap: break-word;
}
a{
	color:#5cb85c;
}

.addPostDiv{
	border-bottom: 5px solid #eddeb4;
}
.addWarning{
	margin-top:2%;
}
.orLabel{
	width:20%;
	margin: 0 40%;
	text-align: center;
}
.addUserPostDiv{
	margin:2% 10%;
}
.imgStyle{
	margin:2%;
	width:7vw;
	height:7vw;
	border-radius: 10%;
}
.labelVideo{
	width: 100%;
}
.videoLabel{
	width: 20%;
	margin: 0 5% 5% 5%;
}
.orLabelVideo{
	width: 20%;
	margin: 0 5% 5% 15%;
}
.imgLabelVideo{
	width:20%;
	margin: 0 5% 5% 0;
}
.videoInput{
	width: 40%;
	margin: 0 0 0 9%;
}
.imgInput{
	width:40%;
	margin:0 10% 0 0;
}
.videoStyle{
	width:30vw;
	height:20vw;
}
.videoPos{
	margin: 0 20% 5% 20%;
	width:60%;
	height:20vw;
}
.imagePostProfile{
	width: 5vw;
	border-radius: 50%;
	margin-bottom:2%;
	margin-right:5%;
}
.infoProfileDiv{
	margin-top:2%;
	margin-right:10%;
	margin-left:10%;
	margin-bottom:2%;
	border-bottom:  1px solid #eddeb4;
}
.contentDiv{
	margin:5% 10% 5% 10%;
	width:80%;
	border-bottom:  1px solid #eddeb4;
}
.fontSize{
	font-size: 1.8vw;
}
.dateStyle{
	float: right;
}
.slowCommentBtn
{
 background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
 margin:0 20% 5% 20%;
 width: 60%;
 font-size: 1.6vw;
}
.fontSizeComment{
	font-size: 1.5vw;
}
.inputComment{
	background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color:black;
  margin-bottom: 3%;
}
.inputComment::placeholder {
  color: black;
  opacity: 1; 
}
.inputComment:focus{
  	-webkit-box-shadow: none;
  	box-shadow: none;
  	background: none;
  	color:black;
}
.addCommentDiv{
	margin:5% 10% 5% 10%;
}
.bodyStyle{
	background-color:#519872;
}
#share {
        background-color:#5D7DAE;
        width: 30%;
        height:10%;
        margin: 0 0  5% 15%;
      }

      .click {
        font-size:13px;
        font-weight:bold;
        text-align:center;
        color:#fff;
        border:1px solid #FFF;
        background-color:#5D7DAE;
        padding: 2px 10px;
        cursor: pointer;
        text-decoration:none;
        width:100%;
        display:block;
      }
#shareTwit{
	 background-color:#5D7DAE;
        width: 30%;
        height:10%;
        margin: 0 15%  5% 0;
       	float :right;
}
}
@media only screen and (max-width:600px){
.rssPost{
	border:2px;
	border-color: #eddeb4;
	border-style: solid;
	margin:3% 10%;
	border-radius: 25px;
	width: 80%;
}
.labelPost{
	margin:1% 10%;
	width: 80%;
}
.labelA{
	word-wrap: break-word;
}
a{
	color:#5cb85c;
}

.addPostDiv{
	border-bottom: 5px solid #eddeb4;
}
.addWarning{
	margin-top:2%;
}
.orLabel{
	width:20%;
	margin: 0 40%;
	text-align: center;
}
.addUserPostDiv{
	margin:2% 10%;
}
.imgStyle{
	margin:2%;
	width:25vw;
	height:25vw;
	border-radius: 10%;
}
.labelVideo{
	width: 100%;
}
.videoLabel{
	width: 20%;
	margin: 0 5% 5% 5%;
}
.orLabelVideo{
	width: 20%;
	margin: 0 5% 5% 15%;
}
.imgLabelVideo{
	width:20%;
	margin: 0 5% 5% 0;
}
.videoInput{
	width: 40%;
	margin: 0 0 0 5%;
}
.imgInput{
	width:40%;
	margin:0 5% 0 0;
}
.videoStyle{
	width:30vw;
	height:20vw;
}
.videoPos{
	margin: 0 10% 5% 10%;
	width:80%;
	height:40vw;
}
.imagePostProfile{
	width: 5vw;
	border-radius: 50%;
	margin-bottom:2%;
	margin-right:5%;
}
.infoProfileDiv{
	margin-top:2%;
	margin-right:10%;
	margin-left:10%;
	margin-bottom:2%;
	border-bottom:  1px solid #eddeb4;
}
.contentDiv{
	margin:5% 10% 5% 10%;
	width:80%;
	border-bottom:  1px solid #eddeb4;
}
.fontSize{
	font-size: 3.2vw;
}
.dateStyle{
	float: right;
}
.slowCommentBtn
{
 background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
 margin:0 20% 5% 20%;
 width: 60%;
 font-size: 3.5vw;
}
.fontSizeComment{
	font-size: 3vw;
}
.inputComment{
	background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color:black;
  margin-bottom: 3%;
}
.inputComment::placeholder {
  color: black;
  opacity: 1; 
}
.inputComment:focus{
  	-webkit-box-shadow: none;
  	box-shadow: none;
  	background: none;
  	color:black;
}
.addCommentDiv{
	margin:5% 10% 5% 10%;
}
.bodyStyle{
	background-color:#519872;
}
#share {
        background-color:#5D7DAE;
        width: 30%;
        height:10%;
        margin: 0 0  5% 15%;
      }

      .click {
        font-size:13px;
        font-weight:bold;
        text-align:center;
        color:#fff;
        border:1px solid #FFF;
        background-color:#5D7DAE;
        padding: 2px 10px;
        cursor: pointer;
        text-decoration:none;
        width:100%;
        display:block;
      }
#shareTwit{
	 background-color:#5D7DAE;
        width: 30%;
        height:10%;
        margin: 0 15%  5% 0;
       	float :right;
}
}
