.login{
	position: absolute;
  	top: 20%;
  	left: 25%;
  	width:50vw;
  	height:40%;
}
.middleItem{
	position: absolute;
	left: 35%;
	
}
.loginButtonStyle{
	width:15vw;
}
body{
	background: url('../images/login.png') no-repeat center center fixed;
	
}
.imgLogin{
	width:10vw;
	height:10vh;
	margin:5%;
}
.imgPos{
	
	margin-left: 35%;
}
.signup{
	position: absolute;
	left: 20%;
	margin:14%;
	width: 50%;
	height: 10%;
}
.signUpH2{
	position: absolute;
	left: 40%;
}
@media only screen and (max-width: 600px) {
.login{
	position: absolute;
  	top: 10%;
  	left: 10%;
  	width:80%;
  	height:40%;
}
.loginButtonStyle{
	width:35vw;
}
.middleItem{
	position: absolute;
	left: 30%;
	
}
.imgLogin{
	width:20vw;
	height:20vh;
	margin:5%;
}
}
.signUpH2{
	position: absolute;
	left: 40%;
	width: 80%;
}