@charset "UTF-8";

body{
	background: url('../images/login.png') no-repeat center center fixed;
	
}
.poss{
	position: absolute;
  	top: 20%;
  	left: 25%;
  	width:30vw;
  	height:20vh;
}
.imgDiv{
	width:20vw;
  	height:20vh;
  	
}
img{
	max-height: 100%;
	max-width: 100%;
}
label{
	font-size: 18px;
}
.poss2{
	position: absolute;
  	top: 20%;
  	left: 50%;
  	width:25vw;
  	height:20vh;
}
optionSize{
	width:10vw;
  	height:20vh;
}
.saveButtonStyle{
	width:7vw;
}