@charset "UTF-8";

body{
	background: url('../images/background.svg') ;
	
}
.textColor{
	color:#dbd0b2;
}
#map{
    width: 100%;
  	height: 40vh;
  	margin-bottom:5%;
}
.titleLabel{
	width: 40%;
	margin-left:30%;
	font-size: xx-large;
}
.mainDiv{
	width:60%;
	height:100hv;
	margin-left: 20%;
	margin-top: 0%;
}
.saveButtonStyle
{
	width:20%;
	margin-left: 40%;
	font-size: large;
}
.error{
	color:red;	
	display: block;
	margin-left:2%; 
	margin-top:2%;
	
}